<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Navbar-Admin</title>
</head>
<body>
    <nav class="navbar">
        <div class="container__navbar">
            <figure class="container__navbar__home">
                <img class="container__navbar--imgh" src="./Assets/Home.png" alt="menu-home">
            </figure>
            <figure class="container__navbar__stadistics">
                <img class="container__navbar--imgsta" src="./Assets/stadistics.png" alt="menu-stadistics">
            </figure>
            <figure class="container__navbar__agents">
                <img class="container__navbar--imga" src="./Assets/agents.png" alt="menu-agents">
            </figure>
            <figure class="container__navbar__settings">
                <img class="container__navbar--imgset" src="./Assets/settings.png" alt="menu-settings">
            </figure>
        </div>
    </nav>
</body>

</html>