<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Avatar</title>
</head>
<body>
    <div class="personal__image">
        <label class="label">
            <input type="file">
            <figure class="personal__figure">
                <img class="personal__avatar" src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083383_960_720.jpg" alt="profile picture">
                <figcaption class="personal__figcaption">
                    <img  class="personal__figcaption--camera" src="./Assets/camera.svg" alt="personal figcaption">
                </figcaption>
            </figure>
        </label>
    </div>
</body>
</html>