<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Navbar-Agents</title>
</head>
<body>
    <nav class="navbar">
        <div class="container__navbar">
            <figure class="container__navbar__chats">
                <img class="container__navbar--imgc" src="./Assets/chats.png" alt="menu-home">
            </figure>
            <figure class="container__navbar___settings">
                <img class="container__navbar--imgset" src="./Assets/settings.png" alt="menu-settings">
            </figure>
        </div>
    </nav>
</body>
</html>