<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Panel-costumer-chat</title>
</head>
<body>
    <div class="container_panel">
        <p class="user">Darlene Robertson</p>
        <figure class="panel__icon">
            <button class="panel__icon_button1"><img src="./assets/notas.png"></button>
            <button class="panel__icon_button2"><img src="./assets//options.png"></button>
        </figure>
    </div>
</body>
</html>