
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {

    margin: 0;
    padding: 10px;
    font-family: 'Lato', sans-serif;

}

.container__text {

    font-size: 14px;

}

input {

    max-width: 500px;
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black ;
    outline: none;
    cursor: pointer;
}

::placeholder {

    color: #C1C1C1;

}






