<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>InputSearch</title>
</head>
<body>
    <section class="search">
        <div class="container__search">
            <a class="container__search--icon" href=""></a>
            <input class="container__search--input" type="text" placeholder="Searching...">
            <a class="container__search--filter" href=""></a>
        </div> 
    </section>
</body>
</html>