<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>ChatButton</title>
</head>
<body>
    <div class="chatButton">
        <div class="chatButton__container">
            <figure class="chatbutton__figure">
                <img class="chatbutton__avatar" src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083383_960_720.jpg" alt="profile picture">
            </figure>
        </div>
        <div class="conversation">
            <p class="conversation__title">Darrell Steward</p>
            <p>Amet minim mollit non</p>
        </div>
        <figure class="state">
            <span class="state__circle"></span>
        </figure>
    </div>
</body>
</html>
