<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>InputSelect</title>
</head>
<body>
    
    <form class="input" action="">
        <p>Día
            <select class="input__select" name="deporte">
                    <option></option>
                    <option></option>
                    <option></option>
            </select>
        </p>
    </form>
</body>
</html>