
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {

    max-width: 300vw;
    height:100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;

}

.containerMobile {

    display: grid;
    grid-template-columns: repeat(3, 100vw);
    
}

.containerMobile__chatList, .containerMobile__conversation, .containerMobile__chatDetails {
    
    background-color: papayawhip;
    
}
