<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Header</title>
</head>
<body>
    <header class="header">
        <div class="header__img">
            <img src="./Assets/Branding.svg" alt="logo">
        </div>
        <div class="container__profile">
            <figure class="container__figure">
                <img class="avatar__profile" src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083383_960_720.jpg" alt="profile picture">
            </figure>
        </div>
    </header>
</body>
</html>


